#todo-container {
    max-width: 400px;
    margin: 0 auto;
}

#todo-list {
    list-style-type: none;
    padding: 0;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#todo-list>li:last-child {
    font-weight: bold;
}

#new-task-input {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: #ccc;
}